*{
	margin:0;
	padding:0
}
.ui-box{
	width: 280px;
	height: 185px;
	border: 2px solid grey;
}
.ui-box-sbox{
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	border: 2px solid grey;
}

.ui-box2{
	position: relative;
	margin-top: 20px;
	width: 280px;
	height: 275px;
}

.ui-box2-nav{
	width: 48px;
	height: 22px;
	float: left;
	margin-top: 0;
	margin-left: 0;
	border-top: 2px solid grey;
	border-right: 2px solid grey;
}

.ui-box2-box{
	position: relative;
	margin-top: 0;
	float: left;
	width: 280px;
	height: 225px;
	border:2px solid grey;

	
}

.ui-box2-box-number{
	text-align: center;
	vertical-align: middle;
	line-height: 225px;
	font-size: 90px;

}


.ui-box3{
	position: relative;
	margin-top: 0;
	width: 280px;
	height: 185px;
	border:2px solid grey;
	display: flex;
	flex-direction: row;
}
.ui-box3-textbar{
	width: 80%;
	height: 10px;
	margin-top: 10px;
	margin-left: 
}
.ui-box3-textbar-text{
	width: 10%;
	height: 100%;
	border:2px solid grey;
	text-align: center;
	justify-content: flex-start;
}

.ui-box3-textbar-text2{
	width: 10%;
	height: 100%;
	text-align: center;
	float: left;
	justify-content: flex-end;
}


